<br> {{ if len(Accountlogin)!=0 -}}
			<!-- {{- range $index, $acc := .AccountList }}
			 {{if $index}}
        , "{{$acc}}"
    {{else}}
         "{{$acc}}"
    {{end}} -->
	
			<div>
				<p class="bg-info" style="border-radius: 6px; text-align: left; padding: 10px; font-size: 18px">Accountlogin: {{$acc.Accountlogin }}
					<br>Источник: {{$acc.Source }}
					<br>
				</p>

			</div>
			{{-else}}
			<div>You dont have any accounts</div>
			{{- end}} 