{{ define "login.tmpl"}}

<p style="font-size:18px">Здравствуйте! Вы не залогинены.</p>
<div id="redirectmessage">


</div>
<div id="formcontainer">
	Логин : <input style="border-radius: 8px; border: solid 1px ; color: #40b91c; outline:none; height: 30px;font-size: 18px ; text-align: center" type="text" name="Login" id="userName" />

	</br>
	</br>
	Пароль: <input style="border-radius: 8px; border: solid 1px ; color: #40b91c; outline:none; height: 30px;font-size: 18px; text-align: center" type="password" name="Password" id="password" />
	</br>
	</br>
</div>
<button class="btn btn-success" type="submit" value="Submit" id="loginbutton"> Войти </button>
</br>
</br>
<button class="btn btn-default btn-sm" type="submit" value="Submit" id="forgotpass"> Забыл пароль </button>

<br>
<div id="loginresult"></div>
<br>
<div style="border-radius: 8px; border: solid 1px ; color: #5BC0DE; width: 300px; text-align: center; margin: 0 auto;">
	<p style="color: black">Или если вы еще не присоденились к нам:</p>

	<button class="btn btn-info" id="gotosignup" style="font-size:12px; margin: 10px">Зарегистироваться</button>
	<br>
</div>
<script>
	

</script>
<br> 
{{ end }}
